html {
    scroll-behavior: smooth;
  }
  


/* Top Page code mainly from Third Option, Minimalistic Intro: https://mdbootstrap.com/docs/jquery/css/background-image/ */
/* Same code as on second try of HTML: https://mdbootstrap.com/docs/jquery/sections/intros/ */
html,
body,
header,
.view {
  height: 100%;
}

.navbar {
    border-bottom: 0.5px solid lightgray;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: white !important;
}

/* .top-nav-collapse {
    background-color: #78909c !important;
  } */
  
.navbar:not(.top-nav-collapse) {
    background: white !important;
  }
  
/* .navbar:not(.top-nav-collapse) {
  background: transparent !important;
} */

/* .navbar {
    background-color: white;
} */

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

.row {
    padding: 10%;
}

.qualities h1 {
  letter-spacing: 8px;
}

.qualities h5 {
  letter-spacing: 3px;
  color: white;
  text-shadow: 2px 2px grey;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

/* .qualities {
    background-color: lightgray;
    opacity: 0.8;
    max-width: 1000px;
} */

.btn {
    border: 1px solid white;
    background-color: lightgrey;
    opacity: 0.7;
    color: black;
    font-weight: 900;
}

.chevronDownArrow img {
    /* position: absolute; */
    /* top: 650px;
    left: 600px; */
    filter: invert(100%);
    width: 5%;
    height: auto;
    padding-top: 30%;
  }
  









/*
/* ABOUT ME SECTION
*/

.aboutMeSectionHeader h2 {
    padding-top: 2em;
}

img{
    height:150px;
    width:100%;
  }
  
  div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  .card{
    transition:0.5s;
    cursor:pointer;
    /* border-bottom: none; */
  }
  .card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }
  .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:80px;
    padding: 3px;
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

  .card h5 {
    padding-left: 3px;
  }





  /* Line between sections */
  hr {
      border: 1px solid darkgray;
  }






/*
/* PROJECTS SECTION
*/

.projectsSectionHeader h2 {
    padding-top: 2em;
}

.projects a {
    color: black;
    text-decoration: none;
}












  /* Line between sections */
  hr {
    border: 1px solid darkgray;
}








/*
/* CONTACT ME SECTION
*/

.contactMeSectionHeader h2 {
    padding-top: 2em;
    padding-bottom: 0em;
}

.contact {
    margin-top: -5em;
}

form {
    padding: 30px;
    margin: 10px;
    border: 1px solid black;
}



/*
/* FOOTER
*/

.GitHub-Button {
    padding-top: 0px;
    padding-bottom: 25px;
}

.LI-profile-badge {
    padding-top: 10px;
    padding-bottom: 30px;
}

